@font-face {
	font-family: "notoFont-medium";
	src: url(../fonts/NotoSansCJKkr-Medium.otf) format("truetype");
}

@font-face {
	font-family: "notoFont-bold";
	src: url(../fonts/NotoSansCJKsc-Bold.otf) format("truetype");
}

body, html, p {
	margin: 0;
	padding: 0;
	
}

body, html {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'notoFont-bold';
	color: #222;
	
	overflow-x:hidden;
	/* -webkit-overflow-scrolling: touch; 터치부드럽게 상단고정해더가 늦게움직이는현상발생*/ 
	
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	
}

#header {
	position: fixed;
	width: 100%;
	height: 18%;
	z-index: 1;
	border-bottom:2px solid #444;
}

#header #busData {
	position: relative;
	width: 100%;
	height: 100%;
	z-index:2;
}

#header #busData #title { /*셔틀버스 위치조회*/
	position: relative;
	width: 100%;
	height: 30%;
	background-color: #EAEAEA;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	padding-top: 7%;
	
}

#header #busData #btnWay { /*상행 하행 버튼 틀*/
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 auto;
	text-align: center;
	
	z-index:2;
	
}

#header #busData #btnWay .way { /*상행 하행 버튼 각각틀*/
	position: relative;
	width: 50%;
	height: 70%;
	background-color: #EAEAEA;
	margin: 0 auto;
	text-align: center;
	float: left;
	padding-top:8%;
}

/* contents 부분 시작*/
#contents {
	position: relative;
	width: 100%;
	height: 90%;
	background-color: #EAEAEA;
	margin: 0;
	padding: 0;
	padding-top: 40%;
	
}

#lineArea { /* 타임라인 틀 */
	position: relative;
	width: 100%;
	height: 100%;
	
	
}

.lineUp { /* 상행선 line */
	position: relative;
	width: 100%;
	height: 10%;
	background-image: url("../images/lineUpImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
}

.lineDown { /* 하행선 라인  */
	position: relative;
	width: 100%;
	height: 10%;
	background-image: url("../images/lineDownImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
}

.turnSpace { /* 회차 이미지 넣을 공간 */
	float: left;
	position: relative;
	width: 15%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.01);
}

.stopName { /* 정류장 이름 */
	float: left;
	position: relative;
	width: 53%;
	height: 10%;
	background-color: rgba(255, 255, 255, 0.01);
	font-size:0.8em;
	padding-top:5%;
	padding-left:2%;
	
	
	
}

.stopSpaceUp { /* 노선 상행 칸 */
	float: left;
	position: relative;
	width: 30%;
	height: 100%;
	background-image: url("../images/StopUpImg.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.stopSpaceDown {/* 노선 하행 칸 */
	float: left;
	position: relative;
	width: 30%;
	height: 100%;
	
	background-image: url("../images/StopDownImg.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.stopSpaceTurn {/* 노선 회차 칸 */
	float: left;
	position: relative;
	width: 30%;
	height: 100%;
	background-image: url("../images/StopTurnImg.png");
	background-size: 99% 100%;
	background-repeat:no-repeat;
}

/*버스 아이콘 */
.busInfo{
	position:absolute;
	top:60%; /* 여기 밀면  버스 icon 중간 지점으로 보낼수있습니다 60%가 중간 */
	left:0;
	width: 95%;
	height: 95%;
	border:1px solid red;
	z-index:1;
	text-align:left;
}
.busIcon {/*버스 아이콘*/
	position:relative;
	width: 35%;
	height: 65%;
	border:1px solid green;
	
}

.busNum{
	/*차 번호 공간*/
	position:relative;
	margin:0;
	width: 60%;
	height: 30%;
	text-align:left;
	border:1px solid blue;
	font-size:0.5em;
	
}
.remainTime {
	position:absolute;
	top:25%;
	left:60%;
	width: 10%;
	height: 10%;
	
	font-size:0.8em;
	/*background-color: blue;*/
}

#turnPointImg{/* 회차 이미지 */
	width:60%;
	height:80%;
	margin-top:10%;
	margin-left:10%;
}